/web/node-v20.10.0-win-x64
/web/start.bat

*.iml
/mobilna/.gradle
/mobilna/local.properties
/mobilna/.idea/caches
/mobilna/.idea/libraries
/mobilna/.idea/modules.xml
/mobilna/.idea/workspace.xml
/mobilna/.idea/navEditor.xml
/mobilna/.idea/assetWizardSettings.xml
/mobilna/.DS_Store
/mobilna/build
/mobilna/captures
/mobilna/.externalNativeBuild
/mobilna/.cxx
/mobilna/local.properties
